{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div class="m-5 h-100 d-flex flex-column justify-content-center">
    <div class="d-flex flex-wrap justify-content-between">
        <h2>Nos produits : ({{ products.getTotalItemCount }})</h2>
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>    
    <div class="d-flex flex-wrap justify-content-center">
    {% for product in products %}
        <div class="card">
            <h5 class="card-title text-center m-3">{{ product.title }}</h5>
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp" class="img-fluid"/>
                <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
            </div>
            <div class="card-body">
                <p class="card-text">{{ product.description }}</p>
                <div class="d-flex flex justify-content-between ">
                    <div class="d-flex flex-column justify-content-end ">
                        <p>{{ product.price }} €</p>
                    </div>
                    <div class="btn_div d-flex flex-column justify-content-between ">
                    <a href=""><button type="button" class="btn btn-outline-secondary">Voir plus</button></a>
                    <a href=""><button type="button" class="btn btn-primary">Ajouter au panier</button></a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
    <div class="navigation d-flex flex justify-content-center">
        {{ knp_pagination_render(products) }}
    </div>
</div>


{% endblock %}
