{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<section class="container my-3">
    <div class="row">
        <div class="col">
            <h1>Inscription :</h1>

            {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.firstname) }}
                {{ form_row(registrationForm.lastname) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                }) }}
                {{ form_row(registrationForm.address) }}

                <button type="submit" class="btn btn-primary">Enregistrer</button>
                <a href="{{ path('app_login') }}" class="btn btn btn-outline-secondary">
                    j'ai deja un compte
                </a>
            {{ form_end(registrationForm) }}
        </div>
    </div>  
</section>
{% endblock %}
