<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container-fluid d-flex justify-content-between">
    <img src="{{ absolute_url(asset('img/logo.png')) }}" class="logo" alt="logo Nozama">
    <h1 class="nozama_title" style="font-family: Bangers">Nozama</h1>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav w-100 d-flex justify-content-end ">
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_home') }}">Produits</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_apropos') }}">A propos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Panier</a>
        </li>
          {% if app.user %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_login') }}">S'enregistrer/Connecter</a>
            </li>
          {% endif %}
      </ul>
    </div>
  </div>
</nav>