.logo {
    width: 95px;
    height: 66px;
}

.nozama_title{
    padding-left: 10px;
    font-size: 60px;
}

ul a{
    color: black !important;
}

ul a:hover{
    color: #5A58FA !important;
}

.card{
    width: 350px;
    margin: 20px;
}

.btn_div{
    height: 100px;
}
